.places__list {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

@media (max-width: 976px) {
    .places__list {
        gap: 73px;
    }
}