.place__paragraph {
    margin: 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
}
.place__paragraph:nth-child(2) {
    margin-top: 26px;
}

@media (max-width: 976px) {
    .place__paragraph {
        font-size: 16px;
    }
}