.intro__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
    margin: 0px 0px 33px;
    max-width: 690px;
}

@media (max-width: 752px) {
    .intro__text {
        margin: 0px 0px 34px;
    }
}