.place {
    list-style: none;
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: 1fr 460px;
    row-gap: 48px;
    column-gap: 40px;
    grid-template-areas:
        "heading url"
        "image paragraphs";
}